# ===== API KEYS =====
PHISH_API_KEY=your_phish_report_api_key
SAFE_BROWSING_API_KEY=your_google_safe_browsing_api_key
VIRUSTOTAL_API_KEY=your_virustotal_api_key
ABUSEIPDB_API_KEY=your_abuseipdb_api_key
URLSCAN_API_KEY=your_urlscan_api_key

# ===== TELEGRAM BOT =====
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# ===== GOOGLE SEARCH CSE =====
GOOGLE_API_KEY=your_google_custom_search_api_key
CSE_ID=your_google_cse_id

# ===== LOG SETTINGS =====
MAX_LOG_DAYS=30
